@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or global.css */
@layer base {
  * {
    @apply m-0;
  }
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  /* -ms-overflow-style: none; IE 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* Add this to the class containing your task list */
.task-list-container {
  max-height: 500px; /* Set a height you feel appropriate */
  overflow-y: auto; /* Enables vertical scrolling */
}
